<section>
    <div class="container">
     <!-- hidden title -->
     <div class="advantages">
        <h2 class="advantages__title visually-hidden">Advantages</h2>
        <ul class="advantages__list">
          <li class="advantages__item advantages__item--cow">
            <p class="advantages__index">721</p>
            <p class="advantages__text">
              Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
            </p>
          </li>
          <li class="advantages__item advantages__item--weight">
            <p class="advantages__index">16kg</p>
            <p class="advantages__text">
              Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
            </p>
          </li>
          <li class="advantages__item advantages__item--ice-crema">
            <p class="advantages__index">84</p>
            <p class="advantages__text">
              Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
            </p>
          </li>
        </ul>
      </div>
    </div>
  
</section>